%div
  %h2= geo_viewer.link_titles ? link_to_node(h(node.content.title), node) : node.content.title
  
  - geo_viewer.image_for(node).tap do |image|
    = image_tag(thumbnail_image_path(image, :format => :jpg), :alt => h(image.alt), :class => 'thumb', :height => 100) if image

  - attr = [:description, :preamble, :summary].select { |attr| node.content.respond_to?(attr) }.first
  - if attr
    %div= truncate_html(node.content.send(attr), 400)
