h1
  color:pink
#content
  .red 
    color: red
  .green 
    color: green
  .brown 
    color: brown
  .blue 
    color: blue
  .orange 
    color: orange
  .gray 
    color: gray
  .purple 
    color: purple
  .yellow 
    color: yellow
  .geoViewer
    .gmap
      width: 480px
      height: 400px
    .filters
      border-bottom: 1px solid #0076AF
      margin-bottom: 20px
      padding-bottom: 2px
      position: relative
      label
        width: 100px
        display: inline-block
      #location
        width: 225px
      .submit
        float: right
        display: block
#content_extended
  .geoViewer
    .gmap
      width: 730px
      height: 650px
    .filters
      #location
        width: 625px
.geoViewer
  .gmap
    padding-top: 10px
    h1
      font-size: 14px
    p
      font-size: 11px
    


