- content_for :javascript, javascript_include_tag("https://maps.googleapis.com/maps/api/js?v=3&key=#{Settler[:google_maps_key]}&language=nl") + javascript_include_tag('oms.js')

.gmap{ id: "geo_viewer_#{@geo_viewer.id}", data: { map: map_geo_viewer_url(@geo_viewer, format: 'json'), info_window: info_window_geo_viewer_url(@geo_viewer) } }
