%div{:style => 'overflow:auto'}
  - node_list.each do |node|
    %p
      = "<b class=\"#{node[:color]}\">#{node[:label]}</b>"
      = link_to_content_node(node[:node].content.title,node[:node].content)
%div{:style => 'clear:both'}