table
  &.geo_viewer_settings, &#layers
    width: 100%
    margin-bottom: 15px
    th
      font-weight: bold
      background-color: #E6EFFE
      padding: 3px
      
table#layers
  th
    &.layer
      width: 41%
    &.toggled
      width: 20%
  td.placeable label
    padding-left: 5px    

#pins table
  width: 30%
  
  .pin-image
    width: 1px

#add-pin
  margin-top: 20px
