#geo_data
  %fieldset
    %legend= t('shared.geo_data')
    
    = form.text_field(:location, :label => t('shared.location'))
    = wrap_with_label(form.select(:pin_id, Pin.all.map{|p| [ p.title, p.id ] }, :include_blank => '-'), { :text => Node.human_attribute_name(:pin_id), :for => 'page_pin_id' })
